.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;

	animation: App-logo-spin infinite 20s linear;
}

.App-header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	min-height: 100vh;

	color: white;
	background-color: #282c34;

	font-size: calc(10px + 2vmin);
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
